-#  Copyright (c) 2026, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= crud_table do |table|
  - table.col(t('activerecord.attributes.fee_rate.fee_kind_id')) do |rate|
    - kind = rate.fee_kind
    = link_to kind, group_fee_kind_path(kind.layer, kind)

  - table.col(t('activerecord.attributes.fee_rate.name')) do |rate|
    = link_to rate, group_fee_kind_fee_rate_path(rate.layer, rate.fee_kind, rate)

  - table.attrs :valid_from, :valid_until, :amount, :max_age, :max_member_months

  - action_col_edit(table)
  - action_col_destroy(table)
